body {
	color:; black;	
	font-family: 'Oxygen', sans-serif;		
	background-color: OliveDrab;
	margin:0;
	padding:0;	
}

h1 {
	text-align: center;
	color: white;
	text-transform: uppercase;
}

div {
	position: relative;
	margin: 0;
	padding: 0;
	padding: 0px;	
}

.container{
	margin:5px;
}

#box_1, #box_2, #box_3 {
	box-sizing: border-box;
	margin: 0px;
	margin-top: 5px;
	padding: 0px;	
	border: 1px solid black;	
	background-color: BurlyWood;
	text-overflow: auto;
}

.sub-title {
	position:relative;	
	float: right;
	border: 1px solid black;
	background-color: brown;
	color: white;
	width: 100px;
	box-sizing: border-box;
	text-align: center; 
	font-weight: 700;
	font-size: 1.2em;
}

.content {
	clear:right;
	color: black;	
	text-overflow: auto;
	box-sizing: border-box;
	margin-top: 30px;
	font-size: 1.2em;
}

.row {
	margin-top:15px;
	padding: 0;
}

#nav_bar{
	background-color: #f6b319;
	font-family: 'Lora', serif;	
	
	margin:0;
	padding:0;
	
}

.navbar-brand h1{
	font-family: 'Lora', serif;	
	color: #227c3e;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #222;
	padding:10px;
	
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

a {
	color:white;
}
#nav-list{	
	margin: 10px;		
	text-align: center;
	background: tomato;	
	font-size: 1.5em;
	font-weight: 800;
	border-color: black;
}
#nav-list a:hover {
  background: green;
  color: white;
}

@media (min-width: 768px) {#nav-list {
  /*clear: both;
  float:right;
  background:white;
  position: absolute; 
  right: 0px;*/
  display:none;
}
}



